<table align="center" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Inclass-Lab  <br>(Day 1)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Using print()](#print)**
2. **[Data types](#types)**
3. **[Arithmetic Operations](#arithmetic)**
4. **[Boolean Operations](#boolean)**
5. **[Concatenation](#concatenation)**
6. **[Pseudo Codes](#pseudo)**

### Let's begin with some hands-on practice exercises

<a id="print"> </a>
## 1. Using print()

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. To display a statement. For example, "Hello, How are you?" </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
print("Hello,How are you?")# type your code here# type your code here

Hello,How are you?

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Display the following pattern using print() </b>
                </font>
            </div>
        </td>
    </tr>
</table>

            *    
           ***    
          *****   
         *******  
        *********

In [24]:
for i in range(5):
    for j in range(5):
        k=5-(i+1)-1
        if(j<=k): 
            print(" ",end="")
        if(j>k):
            print("*",end="")
    for j in range(4):
        k=5-(i+1)-1
        if(j<=k): 
            print("",end="")
        if(j>k):
            print("*",end="")
    print()
    
#for k in range(5):
#    for l in range(11):
#        if(l==7):
#            print("*****",end="")
#            continue
#        print(" ",end="")
#    print()# type your code here

    *
   ***
  *****
 *******
*********

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Write the alphabets 'A', 'B', 'C' on new lines using a single print function. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:
print('A\nB\nC')# type your code here# type your code here

A
B
C

<a id="types"> </a>
## 2. Data types

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Create a string, a numeric and boolean variables by assigning variable names. Further, check their datatype. For numeric variable check for whole numbers and numbers with decimal point.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Declare a string variable and check its data type.**

In [4]:
str_myname="mack"# type your code here# type your code here

**Declare a numeric variable and check its data type.** <br>
i. An interger variable.

In [5]:
int_a=18
print(type(int_a))# type your code here# type your code here

<class 'int'>

ii. A fractional variable

In [6]:
float_a=9.9
print(type(float_a))# type your code here# type your code here

<class 'float'>

**Declare a boolean variable and check its data type.**

In [7]:
bool_var=True

print(type(bool_var)) # type your code here# type your code here

<class 'bool'>

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a complex number and assign it the name 'comp_var'</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [8]:
comp_var=10+5j   # type your code here# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Convert a float variable f = 23.45 to integer.  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [9]:
f=23.45
f=int(f)# type your code here# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Create a numberic variable and convert it to a string.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [10]:
int_var=10
str(int_var)# type your code here# type your code here

'10'

<a id="arithmetic"></a>
## 3. Arithmetic Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Evaluate 145 into 354 minus 1345 divided by 45 plus (462 plus 23) divided by 3. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [11]:
print(145*354-1345/56+(462+23)/3)# type your code here# type your code here

51467.64880952381

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Evaluate  and print the results of the following <br>
                        <ol type = '1'> 
                            <li> 1353 plus 234 </li> 
                            <li> 2355 minus 346 </li>
                            <li> 234 times 457 </li>
                            <li> 25 divided by 6 </li>
                            <li> Obtain remainder of  25 divided by 6 </li>
                            <li> 33 raised to 4 </li> 
                            <li> 45 divided by 6  (floor division)
                            <li> 2 raised to 10</li></ol>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [12]:
print("q1-ans",1353+234)
print("q2-ans",2355-346)
print("q3-ans",234*457)
print("q4-ans",25/6)
print("q5-ans",25%6)
print("q6-ans",33**4)
print("q7-ans",45//6)
print("q8-ans",2**10)
# type your code here

q1-ans 1587
q2-ans 2009
q3-ans 106938
q4-ans 4.166666666666667
q5-ans 1
q6-ans 1185921
q7-ans 7
q8-ans 1024

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Calculate BMI of a person (take input for height and weight from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [13]:
height=int(input("please enter height in cm,"))
weight=int(input("please enter weight in kg,"))
height=height/100  #conversion from cm to meter
print("BMI is -- ",(weight / (height**2)))             # type your code here

please enter height in cm,150
please enter weight in kg,45
1.5
BMI is --  20.0

<a id="boolean"></a>
## 4. Boolean Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Check whether the expression (54+34)* 45 is equal to the expression (0.9*2432)/0.9 </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [14]:
print(((54+34)* 45)==((0.9*2432)/0.9))# type your code here

False

<a id="concatenation"></a>
## 5. Concatenation

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Create two strings and concatenate them using '+' operator. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [15]:
name="mack"
surname="gupta"
print("fullname is :",name+" "+surname)# type your code here

fullname is : mack gupta

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Concatenate the variables 'num = 34 and 'string ='How old are you?' using '+' operator. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [16]:
print("How old are you?"+"--->>"+str(34))# type your code here

How old are you?--->>34

<a id="pseudo"> </a>
## 6. Pseudo Codes

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Write a pseudo code to print table of 5 using 'for' loop.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [18]:
#for i in range(1,11):
#    print(f"5*{i} is =",5*i)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Write a pseudo code for generating a fibonacci series starting with 0 and 1 for 10 values using while loop. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [19]:
#num1=0
#num2=1
#i=1
#fibonacci_list=[]
#while(i<11):
#    result=num1+num2
#    num1=num2
#    num2=result
#    fibonacci_list.append(result)
#    i+=1# type your code here
    
#print("fibonacci list is--> ",fibonacci_list)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Write a pseudo code to know whether a number is greater than the other using 'if' statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [20]:
# a=int(input("enter a numeric number:"))
# b=int(input("enter a another numeric number"))
# if(a>b):
#     print("a is greater than b-->",a)# type your code here
# print("b is greater than a-->",b)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Write a pseudo code to check whether a number is divisible by 7 or not using if else statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [22]:
# a=int(input("please enter a number"))
# if((a%7)==0):
#     print("number is divisble by 7")
# print("Not divisble by 7")

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Write a pseudo code to find factorial of a number using nested if-else statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [23]:
# number=int(input("enter a number  of your choice"))
# res=number
# fact=number

# for i in range(1,number):
#     fact=fact*i
    
# print(fact)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Write a pseudo to know whether a number is prime or not using for and if else statement.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [0]:
# num = a = 4
# count = 0
# for i in range (1,a+1):
#     if num%i ==0:
#         count = count+1
# if count==2:
#     print('prime')
# else:
#     print('not prime')