<table align="center" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Inclass-Lab  <br>(Day 3)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Python Flow Control](#flow_control)**
2. **[List Comprehension](#lc)**

### Let's begin with some hands-on practice exercises

<a id= "flow_control"> </a>
## 1. Python Flow Control

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Write a code to print table of 5 using assignment operand +=.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
lower_number=0
upper_number=50
multiple_of_5=0
i=1
while(multiple_of_5<upper_number):
    multiple_of_5+=5
    print(f"5*{i}=",multiple_of_5)
    i=i+1

5*1= 5
5*2= 10
5*3= 15
5*4= 20
5*5= 25
5*6= 30
5*7= 35
5*8= 40
5*9= 45
5*10= 50

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write a program for generating a fibonacci series starting with 0 and 1 for the next 10 values using a while loop. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
first_number=0
second_number=1
i=1
fibonnacii_list=[]
fibonnacii_list.append(first_number)
fibonnacii_list.append(second_number)
while(i<11):
    third=second_number+first_number
    fibonnacii_list.append(third)
    first_number=second_number
    second_number=third
    i=i+1
fibonnacii_list

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Write a program to check whether a number is greater than the other using if statement (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:
number1=int(input("enter 1st number"))
number2=int(input("enter 2nd number"))
if(number1>number2):
    print("the greater among 2 is ",number1)
else:
    print("the greater among 2 is ",number2)

enter 1st number5
enter 2nd number5
the greater among 2 is  5

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Write a code to check whether a number is divisible by 7 or not (take the input from user). </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [4]:
number_1=int(input("enter a number"))
if(number_1 % 7 == 0):
    print(f"Number {number_1} is divisible by 7")
else:
    print(f"Number {number_1} is not divisible by 7")

enter a number49
Number 49 is divisible by 7

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a code to find factorial of a number (take the input from user). </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [5]:
num=int(input("enter a number"))
fact=num
for i in range(1,num):
    fact=fact*i
print(fact)

enter a number5
120

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Write a program to check whether a number is prime or not (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [6]:
import math
num=int(input("enter a number"))
count=0
for i in range(1,num):
    if num%i==0:
        count+=1
    

if(count>2):
    print(f"number --{num} is not prime")
else:
    print(f"number{num} is prime")

enter a number8
number --8 is not prime

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Write a program to check whether two numbers are amicable or not (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [7]:
num1=int(input("enter a number"))
num2=int(input("enter a second number"))

def total_fact(num):
    factorial_list=[]
    for i in range(1,math.ceil(round((num**0.5),2))+1):
        if(num%i==0):
            factorial_list.append(i)
            if(i!=1):
                new_fact=num/i
                factorial_list.append(new_fact)
        
    return (list(set(factorial_list)))
          
factorial_num1=total_fact(num1)
factorial_num2=total_fact(num2)
if(sum(factorial_num1)==num2 and sum(factorial_num2)==num1):
    print("No is amicable")
else:
    print("no is not amicable")
#print("1",(factorial_num1))
#print("2",(factorial_num2))

enter a number1128
enter a second number55
no is not amicable

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Reverse string using a for loop (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [188]:
str_1=input("enter a string")
for i in range((len(str_1)-1),-1,-1):
    if(i==len(str_1)-1):
        print("revers of a string is:--",end='')
    print(str_1[i],end='')

enter a stringjdjkh ho
revers of a string is:--oh hkjdj

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Write a code to find the average of given numbers (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [85]:
num=list(map(int,(input().split())))


def average_of_num(num):
    return sum(num)/len(num)

average=average_of_num(num)
print("average of numbers entered is :",average)

6 7 8
average of numbers entered is : 7.0

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Write a program to find the area of a circle for a given radius (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [87]:
radius=int(input("enter radius of a circle"))
print("area of a circle is :--",3.14*radius*radius)

enter radius of a circle5
area of a circle is :-- 78.5

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Write a code to find the simple interest (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [89]:
principal=int(input("enter principal"))
rate=int(input("enter rate in percentage excluding '%' sign enter only numbers"))
time=int(input("enter time"))
simple_interest=(principal*rate*time)/100
print("simple interest is ",simple_interest)

enter principal444
enter rate in percentage excluding '%' sign enter only numbers10
enter time5
simple interest is  222.0

<a id= "lc"> </a>
## 2. List Comprehension

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Use list comprehension to obtain the squre root of first 10 natural numbers.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [90]:
list_comprehension_num_square=[num ** 2 for num in range(1,11)]
list_comprehension_num_square

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Use list comprehension to find the used vowels in a given sentence and/or word (take the input from user). </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [197]:
word_or_sentence=input("enter any word or a sentence :-->")
vowel_used_list=[vowel.lower()   for vowel in word_or_sentence if(vowel.lower() in ['a','e','i','o','u'])]
print("unique vowels used in sentence/word is ",set(vowel_used_list))

enter any word or a sentence :-->Hello, how are you?
unique vowels used in sentence/word is  {'o', 'u', 'e', 'a'}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Create a dictionary and access it values using a condition on its key. The data is given below. Let the condidtion on the key is that it should be a even number.</b>
                </font>
            </div>
       </td>
    </tr>
</table>

<table>
<tr>
    <th>Key</th>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td> 
    <td>5</td> 
</tr>
<tr>
    <th>Name</th>
    <td>Aman</td>
    <td>Mohit</td>
    <td>Guari</td>
    <td>Imran</td>
    <td>Roma</td
     </tr>
<tr>
    <th>Marks</th>
    <td>24</td>
    <td>25</td>
    <td>26</td>
    <td>24</td>
    <td>27</td>
   </tr>
</table>

In [228]:
name_list=['Aman','Mohit','Gauri','Imran','Roma']
mark_list=[24,25,26,24,27]
numbers=list(range(1,6))


# dict_list=[{num:{"Name":name,"Marks":marks}}   for num,name,marks in zip(num,name_list,mark_list)]
# for i in dict_values:
#     for j in i:
#         if(j%2==0):     
#             print(i.get(j))

TypeError: 'list' object is not callable

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Use list comprehension to find even and odd numbers from first 20 whole numbers.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [152]:
even_numbers=[num for num in range(21) if(num%2==0)]
odd_numbers=[num for num in range(21) if(num%2!=0)]
print("even_numbers ",even_numbers)
print("odd_numbers",odd_numbers)

even_numbers  [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
odd_numbers [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Use list comprehension to print numbers divisible  by 2 and 3 in between 1 and 100. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [118]:
numbers_divisble_2_and_3=[num for num in range(1,100) if(num%2==0 and num%3 ==0)]
numbers_divisble_2_and_3

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Use list comprehension to create a dictionary such that its keys are odd numbers from 1 to 10 and values are the corresponding to that key are its cube.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [154]:
dict_num={num : num**3 for num in range(1,10) if(num%2!=0)}
dict_num

{1: 1, 3: 27, 5: 125, 7: 343, 9: 729}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Use list comprehension to extract numbers from a string </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [226]:
str_1=list(input("enter a string"))
ascii_num_range=list(range(48,59))
num_in_str=[i for i in str_1 if(ord(i) in ascii_num_range)]
num_in_str

enter a stringslk;ls456

TypeError: 'list' object is not callable

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Use list comprehension to print table of 11 to 20 as shown below.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table>
<tr>
    <td>11</td><td>22</td><td>33</td><td>44</td><td>55</td><td>66</td><td>77</td><td>88</td><td>99</td><td>110</td> 
</tr>
    
<tr>
    <td>12</td><td>24</td><td>36</td><td>48</td><td>60</td><td>72</td><td>84</td><td>96</td><td>108</td><td>120</td> 
</tr>

<tr>
    <td>13</td><td>36</td><td>39</td><td>52</td><td>65</td><td>78</td><td>91</td><td>104</td><td>117</td><td>130</td> 
</tr> 

<tr>
     <td>14</td><td>28</td><td>42</td><td>56</td><td>70</td> <td>84</td><td>98</td><td>112</td><td>126</td><td>140</td> 
</tr>

<tr>
     <td>15</td><td>30</td><td>45</td><td>60</td><td>75</td><td>90</td><td>105</td><td>120</td><td>135</td><td>150</td> 
</tr>

<tr>
     <td>16</td><td>32</td><td>48</td><td>64</td><td>80</td><td>96</td><td>112</td><td>128</td><td>144</td><td>160</td> 
</tr> 

<tr>
     <td>17</td><td>34</td><td>51</td><td>68</td><td>85</td><td>102</td><td>119</td><td>136</td><td>153</td><td>170</td> 
</tr> 

<tr>
     <td>18</td><td>36</td><td>54</td><td>72</td><td>90</td> <td>108</td><td>126</td><td>144</td><td>162</td><td>180</td> 
</tr>

<tr>
 <td>19</td><td>38</td><td>57</td><td>76</td><td>95</td><td>114</td><td>133</td><td>152</td><td>171</td><td>190</td> 
</tr>

<tr>
     <td>20</td><td>40</td><td>60</td><td>80</td><td>100</td><td>120</td><td>140</td><td>160</td><td>180</td><td>200</td> 
<tr>    
    
</table>

In [179]:
# for i in range(11,21):
#     for j in range(1,11):
#         print(i*j,end='\t')
#     print()
    
list_table=[[i*j for i in range(1,11)] for j in range(11,21)]
list_table

[[11, 22, 33, 44, 55, 66, 77, 88, 99, 110],
 [12, 24, 36, 48, 60, 72, 84, 96, 108, 120],
 [13, 26, 39, 52, 65, 78, 91, 104, 117, 130],
 [14, 28, 42, 56, 70, 84, 98, 112, 126, 140],
 [15, 30, 45, 60, 75, 90, 105, 120, 135, 150],
 [16, 32, 48, 64, 80, 96, 112, 128, 144, 160],
 [17, 34, 51, 68, 85, 102, 119, 136, 153, 170],
 [18, 36, 54, 72, 90, 108, 126, 144, 162, 180],
 [19, 38, 57, 76, 95, 114, 133, 152, 171, 190],
 [20, 40, 60, 80, 100, 120, 140, 160, 180, 200]]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. Use list comprehension to find transpose of the matrix given below.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table>
    <tr>
        <td>1</td>
        <td>2</td>
    </tr>
    <tr>
        <td>3</td>
        <td>4</td>
    </tr>
    <tr>
        <td>5</td>
        <td>6</td>
    </tr>
    <tr>
        <td>7</td>
        <td>8</td>
    </tr>
    </table>

In [180]:
list_1 = [[1, 2], [3,4], [5,6], [7,8]]
list_1_transpose = [[row[i] for row in list_1] for i in range(2)]
print (list_1_transpose)

[[1, 3, 5, 7], [2, 4, 6, 8]]