<table align="left" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b>Inclass - Lab<br> (Day 4)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content
1. **[User-Define Function](#User_Define)**
2. **[Lambda Functions](#Lambda_Functions)**
    - 2.1 [Map Function](#Map_Function)
    - 2.2 [Filter Function](#Filter_Function)
    - 2.3 [Reduce Function](#Reduce_Function)

### Let's begin with some hands-on practice exercises

<a id='User_Define'></a>
## 1. User-Define Function:

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Define the python function to swap first and last value of the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [15, 78, 10, 45, 89]

In [1]:
my_list=[15, 78, 10, 45, 89]

def swap_function(lst):
    num1=lst[-1]
    lst[-1]=lst[0]
    lst[0]=num1
    return lst
new_swap_list=swap_function(my_list)
new_swap_list

[89, 78, 10, 45, 15]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Define the python function which adds two global numeric variables (1204 and 344536)<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:

def sum_numbers(num1,num2):
    return num1+num2


num1=1204
num2=344536


sum_of_numbers=sum_numbers(num1,num2)
print("sum-of-global-numbers is:",sum_of_numbers)

sum-of-global-numbers is: 345740

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Define the python function to check whether the number 33 is even or odd<b>   
                </font>
            </div>
        </td>
    </tr>
</table>

In [11]:
isEven=lambda x: "True-No is even " if(x%2)==0 else f"Number--{x} is odd "


num1=int(input("enter a number:"))  #we can take input as 33 to check weather a number is prime or not
isEven(num1)

enter a number:33

'Number--33 is odd '

In [12]:
#(lambda x: "True-No is even " if(x%2)==0 else "No is odd ")(45)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Define the python function to calculate the factorial of the number<b>  
                </font>
            </div>
        </td>
    </tr>
</table>

In [20]:
def num_factorial(num):
    fact=1
    for i in range(1,num+1):
        fact=fact*(i)
        
    return f"factorial of--{num} is {fact}"

number=int(input("enter a number whose factorial u want:-"))
num_factorial(number)

enter a number whose factorial u want:-5

'factorial of--5 is 120'

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Define a function to add new items(1,2,3) in the empty list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [32]:
def add_items(*num):
    lst=[]
    for i in num:
        lst.append(i)
    return lst

new_lst=add_items(1,2,3)
print("list after adding values:-",new_lst)

list after adding values:- [1, 2, 3]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6.  Write a python function to test whether the two words start with the same character or not (take the inputs from the user)<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

In [34]:
def is_first_word_same(str1,str2):
    first_word_of_str1=(str1[0]).lower()
    first_word_of_str2=(str2[0]).lower()
    if(first_word_of_str1==first_word_of_str2):
        return "YES:- two words start with the same character"
    else:
        return "NO:- two words dont start with the same character"

str_1=input("enter 1st words")
str_2=input("enter 2nd words")
is_first_word_same(str_1,str_2)

enter 1st wordsgh
enter 2nd wordsGH

'YES:- two words start with the same character'

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Check if the string contains a vowel or not (take the inputs from the user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [41]:
def is_vowel_present_in_string(string):
    lst_of_chars=list(string)
    lst_of_chars=list(map(lambda x:x.lower(),lst_of_chars))
    for i in lst_of_chars:
        if(i in ['a','e','i','o','u']):
            return (f"vowels present in string-'{string}'")
        
    return f"vowel --not present in given string i.e-'{string}'"
str_1=input()

is_vowel_present_in_string(str_1)

jskjk

"vowel --not present in given string i.e-'jskjk'"

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write the python program to get the unique values from the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [1,2,3,3,11,34,3,3,4,5]

In [43]:
my_list = [1,2,3,3,11,34,3,3,4,5]
print("unique values present in list are :",list(set(my_list)))  #convert a list to set to remove duplicates

unique values present in list are : [1, 2, 3, 34, 4, 5, 11]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Find the common characters from the given two strings<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the strings given below:**<br>
string1 = 'Angel'<br>
string2 = 'apple'

In [52]:
def common_char_in_2_string(str1,str2):
    
    str1=str1.lower()
    str2=str2.lower()
    list_of_chars1=set(str1)
    list_of_chars2=set(str2)
     
    common_chars=list_of_chars1&list_of_chars2
    
    
        
    return f"common chars in both string are--{common_chars}"
    


string1=input()
string2=input()

common_char_in_2_string(string1,string2)

Angel
Apple

"common chars in both string are--{'a', 'l', 'e'}"

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Define a function to perform addition, multiplication, and subtraction of the given two numbers<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the number given below:**<br>
a = 15<br>
b = 4

In [55]:
def calculate_numbers(num1,num2,command):
    if(command=='addition'):
        return f'addition of number is -{num1+num2}'
    if(command=='multiplication'):
        return f'multiplication of number is -{num1*num2}'
    if(command=='subtraction'):
        return f'subtraction of number is -{abs(num1-num2)}'
    
    
    
print(1,calculate_numbers(15,4,'addition'))
print(2,calculate_numbers(15,4,'multiplication'))
print(3,calculate_numbers(15,4,'subtraction'))

1 addition of number is -19
2 multiplication of number is -60
3 subtraction of number is -11

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Define a function to find the sum of all elements in the list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [34, 34, 55, 2, 56, 45]

In [66]:
def get_sum_of_list(lst):
    
    return f"sum of all elements of list is:--{(sum(lst))}"

my_list = [34, 34, 55, 2, 56, 45]

get_sum_of_list(my_list)

'sum of all elements of list is:--226'

<a id='Lambda_Functions'></a>
## 2. Lambda Functions

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Find the minimum of the two numbers(34 and 78) using the lambda function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [70]:
get_minimum=lambda x,y:f"minimum is{x}" if (x<y) else f"minimum is {y}"
get_minimum(78,34)

'minimum is 34'

<a id='Map_Function'></a>
### 2.1 Map Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Calculate the square of each element from the given tuple using the map function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple given below:**<br>
number = (11, 21, 30, 34)

In [71]:
number=(11, 21, 30, 34)
square_num_tuple=tuple(map(lambda x:x**2,number))
square_num_tuple

(121, 441, 900, 1156)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Read the given sentence and print the length of each word in a sentence in a list using the map function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

** Use the sentence given below:**<br>
sentence = 'Python for Data Science'

In [74]:
sentence = 'Python for Data Science'
sentence=sentence.split()
len_of_words_in_sentence=list(map(lambda x:f"{x}-:{len(x)}",sentence))
len_of_words_in_sentence

['Python-:6', 'for-:3', 'Data-:4', 'Science-:7']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Find the remainder of all the numbers present in a list after dividing by 5
<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
numbers = [ 74, 85, 14, 23 ]

In [78]:
numbers = [ 74, 85, 14, 23 ]
remainders_when_divisible_by_5=list(map(lambda x:x%5,numbers))  
remainders_when_divisible_by_5

[4, 0, 4, 3]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Concatenate elements from the list1 with the corresponding element of list2<b>
                </font>
            </div>
        </td>
    </tr>
</table>

** Use the list given below:**<br>
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']<br>
list2 = [11,22,33,44,55,66,77,88,99]

In [83]:
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']
list2 = [11,22,33,44,55,66,77,88,99]

concatenated_list=map(lambda x,y:x+str(y),list1,list2)
list(concatenated_list)

['I11',
 'felt22',
 'happy33',
 'because44',
 'I55',
 'saw66',
 'the77',
 'others88',
 'were99']

<a id='Filter_Function'></a>
### 2.3 Filter Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Find the common elements from the given array using filter method<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below:**<br>
arr1 = ['t','u','t','o','r','i','a','l']<br>
arr2 = ['p','o','i','n','t']

In [86]:
arr1 = ['t','u','t','o','r','i','a','l']
arr2 = ['p','o','i','n','t']
arr2=list(set(arr2))
def filter_common(x):
    if(x in arr2):
        return True
    else:
        return False
    
common_char=set(filter(filter_common,arr1))
common_char

{'i', 'o', 't'}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Remove odd numbers from the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]

In [99]:
numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]
even_number_list=list(filter(lambda x:(x%2)==0 ,numbers))
even_number_list

[110, 352, 278]

<a id='Reduce_Function'></a>
### 2.4 Reduce Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Calculate the sum of the numbers from 1 to 100<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

In [97]:
from functools import reduce
numbers=list(range(1,101))
sum_num=reduce(lambda x,y:x+y,numbers)
sum_num

5050

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. Determine the maximum of a given list using reduce function<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [47,11,42,102,13]

In [98]:
my_list = [47,11,42,102,13]
max_list=reduce(lambda x,y: x if(x>y) else y ,my_list)
max_list

102